In [1]:
print(12-4-4)

4

In [3]:
print("hello world")

hello world

In [4]:
print(4+4)

8

In [8]:
!python --version

Python 3.9.13

In [10]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [11]:
print("12-4-4")

12-4-4

In [13]:
if 5 > 2:
    print("Five is greater than two!")
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
if 5 > 2:
    print("Five is greater than two!") 
    if 5 > 2:
        print("Five is greater than two!")

In [14]:
x=5

In [16]:
m="mike learning python"

In [17]:
mAngo="fruit of tropical forest"

In [19]:
mAngo

'fruit of tropical forest'

In [15]:
x

5

In [21]:
mike="A guy who likes to try new stuff"

In [22]:
mike

'A guy who likes to try new stuff'

In [23]:
y=str(23)

In [24]:
y

'23'

In [1]:
x = ("socks", "boots", "lace")

In [4]:
x

('socks', 'boots', 'lace')

In [6]:
type(x)

tuple

In [7]:
x = {"name" : "John", "age" : 36}

In [8]:
type(x)

dict

In [9]:
x = ["apple", "banana", "cherry"]

In [10]:
type(x)

list

In [11]:
x = {"apple", "banana", "cherry"}

In [12]:
type(x)

set

In [13]:
x = {"animal" : "Twitter",}

In [14]:
type(x)

dict

In [2]:
int(True)

1

In [3]:
int(False)

0

In [8]:
true = "1234"
int(true)

1234

In [5]:
int(TRUE)

NameError: name 'TRUE' is not defined

In [6]:
True_

NameError: name 'True_' is not defined

In [7]:
str(1)

'1'

In [9]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [10]:
a = 200
b = 33
b > a

False

In [11]:
print(bool("Hello"))
print(bool(15))

True
True

In [12]:
bool("")

False

In [13]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [14]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [23]:
import random

print(random.randrange(1, 100))

85

In [26]:
import random

random.seed(7)
print(random.random())

0.32383276483316237

In [30]:
a = "Hello, World!"
a[-7]

' '

In [42]:
for x in ("banana"):
    print(x)

b
a
n
a
n
a

In [43]:
a = "Hello, World!"
print(len(a))

13

In [44]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [45]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [46]:
a = "my babe is annoying"
if "annoying" in a:
    print("Yes, 'annoying' is present")

Yes, 'annoying' is present

In [50]:
txt = "The best things in life are expensive!"
print("expensive" not in txt)

False

In [51]:
b = "Hello, World!"
print(b[2:5])

llo

In [1]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [2]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [5]:
print(a)

 Hello, World!

In [4]:
print(a)

 Hello, World!

In [6]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [7]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [8]:
a = "Hello, World!"
print(a.split(" "))

['Hello,', 'World!']

In [9]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [10]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [11]:
a = "Hello"
b = "World"
#c = a + b
print(a,b)

Hello World

In [13]:
age = "36"
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [14]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [15]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [16]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [17]:
quantity = 3
itemno = 567
price = 49.95
print(f"I want to pay {price} dollars for {quantity} pieces of item {itemno}.")

I want to pay 49.95 dollars for 3 pieces of item 567.

In [18]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (4106093343.py, line 1)

In [20]:
txt = "We are the so-called 'Vikings' from the north."
txt

"We are the so-called 'Vikings' from the north."

In [30]:
txt = "We are the so-called Vikings from the north\n me."
txt

'We are the so-called Vikings from the north\n me.'

In [26]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [36]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [35]:
txt = "This will insert one \ (backslash)."
print(txt)

This will insert one \ (backslash).

In [37]:
nums = [23,45,76,90,57]

In [38]:
nums

[23, 45, 76, 90, 57]

In [39]:
nums[0]

23

In [40]:
names = ["kheene", "juwon", "mike", "David"]

In [41]:
names

['kheene', 'juwon', 'mike', 'David']

In [42]:
both = [nums, names]

In [43]:
both

[[23, 45, 76, 90, 57], ['kheene', 'juwon', 'mike', 'David']]

In [48]:
names.insert(1, "seye")

In [45]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [49]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [50]:
help

Type help() for interactive help, or help(object) for help about object.

In [51]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google', 'apple'}

In [53]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["model"])

Mustang

In [54]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [55]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [60]:
thisdict["year"]

2020

In [61]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [62]:
for x in thisdict:
  print(x)

brand
year

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [64]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [68]:
myfamily.get("child3")

{'name': 'Linus', 'year': 2011}

In [70]:
myfamily.get("child3") ["name"]

'Linus'

In [71]:
myfamily["child3"]

{'name': 'Linus', 'year': 2011}

In [72]:
myfamily["child3"] ["name"]

'Linus'

In [96]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [74]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [75]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [76]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [77]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [78]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [79]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [80]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [83]:
for x in range(12):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11

In [84]:
for x in range(3, 12):
  print(x)

3
4
5
6
7
8
9
10
11

In [85]:
for x in range(3, 12, 2):
  print(x)

3
5
7
9
11

In [91]:
for x in range(3, 12, 2):
  print(x)
else:
    print("no more int")

3
5
7
9
11
no more int

In [94]:
for x in range(3, 12, 2):
  if x == 9: break
  print(x)
else:
    print("no more int")

3
5
7

In [97]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [98]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x)
    print(y)

red
apple
red
banana
red
cherry
big
apple
big
banana
big
cherry
tasty
apple
tasty
banana
tasty
cherry

In [99]:
def my_function():
  print("Hello from a function")

In [102]:
my_function()

Hello from a function

In [105]:
def my_function(num):
    mul=num*5
    print(mul)

In [107]:
my_function(5)

25

In [108]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [109]:
def my_function(fname):
  print(fname, " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil  Refsnes
Tobias  Refsnes
Linus  Refsnes

In [110]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [112]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Bellingham")

Emil Bellingham

In [113]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [114]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [115]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [116]:
def my_function(**kid):
  print("His last name is " + kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Tobias

In [117]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [124]:
def my_function(food):
    for x in food:
        print(x)

#amala = ["apple", "banana", "cherry"]
food = []
my_function(food)

In [125]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [129]:
def my_function(x):
    return None

my_function(3)
#print(my_function(5))
#print(my_function(9))

In [130]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [2]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [4]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [5]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [6]:
cars = ["Ford", "Volvo", "BMW"]

In [7]:
x = cars[0]

In [8]:
cars[0] = "Toyota"

In [10]:
x = len(cars)

In [11]:
class MyClass:
  x = 5

In [12]:
p1 = MyClass()
print(p1.x)

5

In [13]:
name = input("what is your favourite colour? ")
print("Hi" + name)

what is your favourite colour? blue
Hiblue

In [16]:
movie = input("What is your favourite movie? ")
print("I love "+  movie)

What is your favourite movie? Matrix
I love Matrix

In [18]:
name = ("My name is Mike")
colour = (" I like colour Red")
print(name + colour)

My name is Mike I like colour Red

In [3]:
class MyClass:
  x = 5

In [4]:
MyClass

__main__.MyClass

In [5]:
MyClass()

In [6]:
p1 = MyClass()
print(p1.x)

5

In [8]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [9]:
p2 = Person("Mike", 28)

print(p2.name)
print(p2.age)

Mike
28

In [10]:
print(p2)

<__main__.Person object at 0x0000019E95735F70>

In [11]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [13]:
#Create a class named Person, with firstname and lastname properties, and a printname method:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

p1 = Person("John", "Doe")
p1.printname()

John Doe

In [22]:
#inheritance:

class Student(Person):
    pass

In [23]:
s1 = Student("Mike", "Oj")
s1.printname()

Mike Oj

In [29]:
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

In [30]:
s1 = Student("Mike", "Oj")
s1.printname()

TypeError: __init__() missing 1 required positional argument: 'year'

In [33]:
s1 = Student("Mike", "Oj", 2019)
s1.graduationyear

2019

In [36]:
s1 = Student("Mike", "Oj", 2019)
s1.fname

AttributeError: 'Student' object has no attribute 'fname'

In [37]:
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [39]:
s1 = Student("Mike", "Oj", 2019)
s1.welcome()

Welcome Mike Oj to the class of 2019

In [40]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [41]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [42]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry

In [43]:
mystr = "banana"

for x in mystr:
    print(x)

b
a
n
a
n
a

In [44]:
#Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class Mynumber:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        x = self.a
        self.a += 1
        #self.a = self.a + 1
        return x

In [45]:
m1 = Mynumber()
myiter = iter(m1)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [46]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        if self.a <= 20:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [55]:
y = 500

In [56]:
def myfunc():
  y = 300
  print(y)

myfunc()

300

In [57]:
def mike():
    print(y)
    
mike()

500

In [59]:
def myfunc():
    x = 300
    def myinnerfunc():
        print(x)
    myinnerfunc()

myfunc()

300

In [61]:
def myfunc():
    global x
    x = 30000

myfunc()

print(x)

30000

In [62]:
def mike():
    print(x)
    
mike()

30000

In [63]:
import mike

In [73]:
mike.morning("Seye")

AttributeError: module 'mike' has no attribute 'morning'

In [2]:
#question 1

listone = [3, 6, 9, 12, 15, 18, 21]
listtwo = [4, 8, 12, 16, 20, 24, 28]
listthree = []

for x in range(len(listone)):
    if x % 2 == 1:
        listthree.append(listone[x])
        
    else:
        listthree.append(listtwo[x])

print(listthree)

[4, 6, 12, 12, 20, 18, 28]

In [6]:
#question 2

list1 = [34, 54, 67, 89, 11, 43, 94]
list1.pop(4)
list1.insert(2, 11)
list1.append(11)

print(list1)

[34, 54, 11, 67, 89, 43, 94, 11]

In [31]:
#question 3

lst = [11, 45, 8, 23, 14, 12, 78, 45, 89]

slice_1 = lst[:3][::-1]
slice_2 = lst[3:6][::-1]
slice_3 = lst[6:][::-1]

print(slice_1)
print(slice_2)
print(slice_3)

[8, 45, 11]
[12, 14, 23]
[89, 45, 78]

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [32]:
#question 4

the_dict = [11, 45, 8, 11, 23, 45, 23, 45, 89]

d = {}

for x in the_dict:
    if x in d:
        d[x] += 1
    else:
        d[x] = 1
        
print(d)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [24]:
#question 5
g1 = [2, 3, 4, 5, 6, 7, 8]
g2 = [4, 9, 16, 25, 36, 49, 64]

g3 = zip(g1, g2)
g3_set = set(g3)

print(g3_set)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [41]:
#question 6

FSet = {65, 42, 78, 83, 23, 57, 29} 
SSet = {67, 73, 43, 48, 83, 57, 29} 

Nset = FSet.intersection(SSet)
Mset = Nset.symmetric_difference(FSet)


print(Nset)
print(Mset)

{57, 83, 29}
{65, 23, 42, 78}

In [3]:
#question 10

sList = [87, 45, 41, 65, 94, 41, 99, 94]

NList = list(set(sList))

tList = tuple(NList)

minNum = min(tList)
maxNum = max(tList)

print("Tuple:", tupleList)
print("Minimum:", minNum)
print("Maximum:", maxNum)

Tuple: (65, 99, 41, 45, 87, 94)
Minimum: 41
Maximum: 99

In [43]:
#question 9

speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
unique_values = []
seen_values = set()

for x in speed.values():
    if x not in seen_values:
        unique_values.append(x)
        seen_values.add(x)
print(unique_values)

[47, 52, 44, 53, 54]

In [45]:
#question 9

speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
seen_values = set()

for x in speed.values():
    seen_values.add(x)
    
print(seen_values)

{44, 47, 52, 53, 54}

In [44]:

speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
unique_values = []

for x in speed.values():
    if x not in unique_values:
        unique_values.append(x)
    
print(unique_values)

[47, 52, 44, 53, 54]

In [56]:
#question 8
rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]

sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
NewList = []

for x in rollNumber:
    if x not in sampleDict.values():
        NewList.append(x)
        
print(NewList)

[64, 37, 83, 95]

In [50]:
# question 7

firstSet = {27, 43, 34}
secondSet = {34, 93, 22, 27, 43, 53, 48}

newset = firstSet.issubset(secondSet)
Allset = firstSet.symmetric_difference(secondSet)

print(newset)
print(Allset)

True
{48, 53, 22, 93}

In [57]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2023
Tuesday

In [58]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [1]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [2]:
x = 5
try:
  print(x)
except:
  print("An exception occurred")

5

In [1]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [2]:
try:
  print(x)
except:
  print("Something else went wrong")

Something else went wrong

In [3]:
print(x)

NameError: name 'x' is not defined

In [4]:
try:
  print(x)

SyntaxError: unexpected EOF while parsing (1220658429.py, line 2)

In [5]:
if x in:
    print(x)

SyntaxError: invalid syntax (747979782.py, line 1)

In [6]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [7]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [9]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when writing to the file

In [12]:
f = open("demofile.txt", "w")
f.write("Lorum Ipsum")

11

In [13]:
f = open("demofile.txt", "r")

In [14]:
f

In [16]:
f.read()

'Lorum Ipsum'

In [17]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [21]:
x = -1

if x < 0:
    print(x)

-1

In [22]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [23]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:Mike Lee
Username is: Mike Lee

In [26]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [29]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {} dollars."
print(myorder.format(price, itemno, quantity))

I want 49 pieces of item number 567 for 3 dollars.

In [31]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {2} pieces of item number {1} for {0:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 49 pieces of item number 567 for 3.00 dollars.

In [32]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [33]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.